body{
    background-image: url('../assets/home/background-home-desktop.jpg');
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #D0D6F9;
    margin: 0;
}
h1{
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
}
h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 4.75px;
    margin: 0;
}
.navbar{
    width: 830px;
    height: 96px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #FFFFFF;
    position: relative;
    top: 40px;
    left: 610px;
}
.background{
    position:relative;
}
.intro{
    height: 382px;
    width: 450px;
    text-align: left;
    position: absolute;
    top: 441px;
    left: 165px;
}

.explore{
    width: 274px;
    height: 274px;
    border-radius: 100%;
    background-color: #FFFFFF;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: #0B0D17;
    position: absolute;
    left: 1001px;
    top: 495px;
    margin: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
